{% extends "base.html" %}

{% block site_nav %}
{% if nav %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      {% include "partials/nav.html" %}
    </div>
  </div>
</div>
{% endif %}
{% if page.meta.category and page.meta.category == "character" %}
  {% include "partials/character.html" %}
{% elif page.toc %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
    {% include "partials/toc.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

